<aside class="sidebar">
    <ul class="menu">
        <li><a href="/admin/dashboard">Inicio</a></li>
        <li>
            <form action="/admin/stores" method="GET">
                <button type="submit">Preparacion de pedidos</button>
            </form>
        </li>
        <li><a href="/logout">Cerrar sesión</a></li>
    </ul>
</aside>