/* Estilos previos */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f4f4f4;
}

/* Header*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px; /* Añade una altura específica si no la tienes */
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    z-index: 1000;
}
.logo {
    flex: 0 0 20%; /* Ocupa el 20% del ancho del contenedor principal */
    text-align: center; /* Centra el logo dentro del div */
    padding: 5px;
}

.search-container {
    display: flex;
    flex: 0 0 80%; /* Ocupa el 80% del ancho del contenedor principal */
    justify-content: center;
    align-items: center;
}

.search-form {
    display: flex; /* Hace que el input y el botón estén uno al lado del otro */
    width: 90%; /* Ocupa todo el ancho del contenedor .search-container */
}

.search-input {
    flex: 1; /* Ocupa todo el espacio disponible */
    padding: 8px; /* Agrega un poco de espacio interno al input */
    border: 1px solid #ddd; /* Define un borde para el input */
    border-radius: 4px 0 0 4px; /* Redondea las esquinas izquierdas del input */
}

.search-btn {
    color: white;
    border: none; /* Remueve el borde del botón */
    background-color: #df7eb2; /* Color de fondo del botón, cámbialo según tus preferencias */
    padding: 8px 12px; /* Espacio interno para el botón */
    cursor: pointer; /* Cambia el cursor a una mano al pasar el mouse sobre el botón */
    border-radius: 0 4px 4px 0; /* Redondea las esquinas derechas del botón */
}
.search-btn:hover {
    background-color: #ccc;
}

/* Fin Header*/



/* Barra de navegacion*/
.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff; /* Color de fondo, cambia según tus preferencias */
    border-top: 1px solid #ddd; /* Borde superior opcional */
}
nav ul {
    display: flex;
    justify-content: space-between; /* Distribuye los ítems equitativamente a lo largo del contenedor */
    list-style-type: none; /* Remueve los puntos predeterminados de la lista */
    padding: 0; /* Remueve el padding predeterminado */
    margin: 0; /* Remueve el margen predeterminado */
}

nav li {
    flex: 1; /* Ocupa el mismo espacio para cada ítem */
    text-align: center; /* Centra el contenido dentro de cada ítem */
}
nav a {
    display: block;
    padding: 10px; /* Espacio interno para hacer más grande la zona clickeable */
    text-decoration: none; /* Remueve el subrayado predeterminado de los enlaces */
    color: #df7eb2; /* Hereda el color de texto del elemento padre */
}


main {
    margin-top: 60px; /* Esto es para dar espacio al header */
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    height: calc(100vh - 60px);

}

/*Login*/
.login-section {
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
 }

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.input-container {
    position: relative;
}

.login-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.password-toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    color: inherit;
    outline: none;
    position: absolute;
    top: 56%;
    right: 10px;
    transform: translateY(-50%);
    color: #ccc;
}




.hidden {
    display: none;
}



.show-password-checkbox:checked + .show-password-label + .login-input {
    type: text;
}

.login-btn {
    color: white;
    padding: 10px;
    background-color: #df7eb2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #915073;
}

.forgot-password-link {
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    color: #666;
}

.forgot-password-link:hover {
    text-decoration: underline;
}
/*Fin Login*



/* Cards  */



.category-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.category-section h2{
    align-self: flex-start;
    padding: 10px;
    font-size: 18px;
    color: #a1a1a1;
}

.card-container{
    display: flex;

}

.card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.name {
    font-size: 16px; /* Ajustado para reducir un poco el tamaño */
    font-weight: bold;
    margin-bottom: 5px; 
}

.discount {
    background-color: #FFD700; 
    color: #000;
    padding: 3px 5px; /* Reducido para que se vea un poco más pequeño */
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px; 
}

.contact-info {
    display: flex;
    justify-content: flex-end;
}

.address, .whatsapp {
    margin: 0 5px; 
}

.material-symbols-outlined {
    font-size: 18px; /* Ajusta según necesites */
    margin-right: 5px; 
}



/*Fin Cards*/

/* Reglas específicas para tablet y desktop */
@media (min-width: 768px) {
    .logo {
        flex: 0 0 10%; /* Ocupa el 10% del ancho del contenedor principal para tablet y desktop */
        padding: 10px;
    }
    header section{
        justify-content: space-between;
    }
}





