<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/head") %>
    <title>Recupero Contraseña</title>
</head>
<body>
    <header>
    </header>
    <main>
      <section class="d-flex justify-content-center align-items-center" style="height: 100vh;">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-6">
                      <div class="card">
                        <div class="text-center mt-3 mb-3">
                          <!-- Aquí insertamos el logo -->
                          <img src="../images/logo-Marcela-Koury.svg" alt="Logo" class="rounded-circle" style="width: 100px; height: 100px;"> 
                        </div>
                          <div class="card-body">
                              <form action="/auth/forgotPassword" method="post">
                                <div class="form-floating mb-3">
                                  <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                  <label for="floatingInput">Email</label>
                                </div>
                                <div class="d-grid gap-2">
                                  <button class="btn btn-primary btn-pink mt-4 p-2" type="submit">Recuperar Contraseña</button>
                                </div>
                              </form>
                              <div class="text-center mt-3">
                                <% if(message) { %>
                                    <div class="alert alert-danger" role="alert">
                                        <%= message %>
                                      </div>
                                <% } %>
                                </div>
                              <div class="text-center mt-3">
                                  <a href="/auth/login">Volver al inicio de session</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
    </main>
  </body>
</html>