<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/head") %>
    <title>Nueva Contraseña</title>
</head>
<body>
    <header>
    </header>
    <main>
      <section class="d-flex justify-content-center align-items-center" style="height: 100vh;">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-6">
                      <div class="card">
                        <div class="text-center mt-3 mb-3">
                          <!-- Aquí insertamos el logo -->
                          <img src="../images/logo-Marcela-Koury.svg" alt="Logo" class="rounded-circle" style="width: 100px; height: 100px;"> 
                        </div>
                          <div class="card-body">

                              <form action="/auth/recoveryPassword" method="POST">
                                <div class="text-center mt-3">
                                  <% if(message) { 
                                      if(messageGood) { %>
                                      <div class="alert alert-success" role="alert">
                                          <%= message %>
                                        </div>
                                      <%  } else { %>
                                        <div class="alert alert-danger" role="alert">
                                          <%= message %>
                                        </div>
                                      
                                  <% }} %>
                                </div>
                                <div class="form-floating mb-3">
                                  <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" value="<%= email %>" disabled>
                                  <label for="floatingInput">Email</label>
                                </div>
                                <div class="form-floating mb-3">
                                  <input type="text" name="code" class="form-control" id="floatingInput" placeholder="name@example.com">
                                  <label for="floatingInput">Codigo</label>
                                </div>
                                <div class="form-floating mb-3"> <!-- Agregado position-relative -->
                                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                                    <label for="floatingPassword">Nueva Contraseña</label>
                                </div>
                                <div class="form-floating mb-3"> <!-- Agregado position-relative -->
                                    <input type="password" name="passwordConfirm" class="form-control" id="floatingPasswordConfirm" placeholder="Password">
                                    <label for="floatingPasswordConfirm">Confirmar Contraseña</label>
                                </div>
                                <div class="mt-2 ms-2 mb-3">
                                  <input type="checkbox" id="showPasswordCheckbox">
                                  <label for="showPasswordCheckbox">Mostrar contraseñas</label>
                                </div>
                                <div class="alert alert-secondary" role="alert">
                                  <span>- Debe tener al menos 6 caracteres</span><br>
                                  <span>- Debe tener al menos una letra</span> <br>
                                  <span>- Debe tener al menos un numero</span> <br>
                                  <span>- No debe tener tres numeros o letras consecutivos en escalera</span><br>
                                </div>
                                <div class="d-grid gap-2">
                                  <button class="btn btn-primary btn-pink mt-4 p-2" type="submit" disabled>Cambiar Contraseña</button>
                                </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
              
          </div>
      </section>
    </main>
    <script>
document.addEventListener('DOMContentLoaded', function() {
    const passwordInput = document.getElementById('floatingPassword');
    const confirmPasswordInput = document.getElementById('floatingPasswordConfirm');
    const submitBtn = document.getElementById('submitBtn');

    passwordInput.addEventListener('input', validate);
    confirmPasswordInput.addEventListener('input', validate);

    function validate() {
        const password = passwordInput.value;
        const confirmPassword = confirmPasswordInput.value;

        if (isValidPassword(password) && password === confirmPassword) {
            submitBtn.removeAttribute('disabled');
        } else {
            submitBtn.setAttribute('disabled', 'disabled');
        }
    }

    function isValidPassword(password) {
        if (password.length < 6) return false;
        if (!/[a-zA-Z]/.test(password)) return false;
        if (!/[0-9]/.test(password)) return false;

        // Validar que no existan tres caracteres consecutivos
        for (let i = 0; i < password.length - 2; i++) {
            const char1 = password.charCodeAt(i);
            const char2 = password.charCodeAt(i + 1);
            const char3 = password.charCodeAt(i + 2);
            if (char1 + 1 === char2 && char2 + 1 === char3) return false;
        }

        return true;
    }
});
document.addEventListener('DOMContentLoaded', function() {
    const passwordInput = document.getElementById('floatingPassword');
    const confirmPasswordInput = document.getElementById('floatingPasswordConfirm');
    const showPasswordCheckbox = document.getElementById('showPasswordCheckbox');

    showPasswordCheckbox.addEventListener('change', function() {
        // Si el checkbox está marcado, mostramos la contraseña. Si no, la ocultamos.
        const newType = showPasswordCheckbox.checked ? 'text' : 'password';
        
        passwordInput.type = newType;
        confirmPasswordInput.type = newType;
    });
});
</script>

  </body>
</html>