<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head") %>
<title>Inicio</title>

</head>
<body>
    <header> 
        <%- include("partials/header") %>
    </header>
    <main>
        <div class="category-section">
            <h2>Peluquerías</h2>
                <!-- Card para una peluquería -->
                <div class="card">
                    <img src="/images/Peluqueria-camila.jpg" alt="Imagen de la peluquería">
                    <div class="card-info">
                        <p class="name">Camila Tagliaferri</p>
                        <div class="discount">20% OFF</div>
                        <div class="contact-info">
                            <p class="address"><a href="https://goo.gl/maps/2tzUU3ScCUSA83yf6" target="_blank"><span class="material-symbols-outlined">map</span></a></p>
                            <p class="whatsapp"><a href="https://wa.me/+5491140742289" target="_blank"><span class="material-symbols-outlined">smartphone</span></a></p>
                        </div>
                    </div>
                </div>
        </div>
        <%- include("partials/navBar") %>
    </main>
    <footer> 
        <%- include("partials/footers") %>
    </footer>
</body>
</html>