<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head") %>
<title>Inicio</title>

</head>
<body>
    <header> 
        <%- include("partials/header") %>
    </header>
    <main>
       
        <%- include("partials/navBar") %>
    </main>
    <footer> 
        <%- include("partials/footers") %>
    </footer>

</body>
</html>