<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />    
<title>Inicio</title>

</head>
<body>
    <header> 
        <section>
            <div class="logo">
                <img src="/images/logo-Marcela-Koury.svg" alt="logo-Marcela-Koury">
            </div>
            <div class="search-container">
                <form action="/search" method="GET" class="search-form">
                    <input type="text" placeholder="Buscar..." name="query" class="search-input">
                    <button type="submit" class="search-btn"><span class="material-symbols-outlined">
                        search
                        </span></button>
                </form>
            </div>
            <nav>
                <ul>
                    <li><a href="/"><span class="material-symbols-outlined">home</span></a></li>
                    <li><a href="/login"><span class="material-symbols-outlined">person</span></a></li>
                    <li><a href="/login"><span class="material-symbols-outlined">favorite</span></a></li>
                    <li><a href="/login"><span class="material-symbols-outlined">menu</span></a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main>
        <h1>Main</h1>
    </main>
    <footer> 
        <h1>Footer</h1>
    </footer>
</body>
</html>