
    <div class="logo">
        <img src="/images/logo-Marcela-Koury.svg" alt="logo-Marcela-Koury">
    </div>
    <div class="search-container">
        <form action="/search" method="GET" class="search-form">
            <input type="text" placeholder="Buscar..." name="query" class="search-input">
            <button type="submit" class="search-btn"><span class="material-symbols-outlined">
                search
                </span></button>
        </form>
    </div>