<section class="nav-bar">
    <nav>
        <ul>
            <li><a href="/"><span class="material-symbols-outlined">home</span></a></li>
            <li><a href="/login"><span class="material-symbols-outlined">person</span></a></li>
            <li><a href="/login"><span class="material-symbols-outlined">favorite</span></a></li>
            <li><a href="/login"><span class="material-symbols-outlined">menu</span></a></li>
        </ul>
    </nav>
</section>