<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/admin/dashboard">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/qr/list">Qr</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Tiendas
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/admin/stores">Preparacion de Pedidos</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Ventas
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/admin/analytics/sales">Tiendas</a></li>
      <li><a class="dropdown-item" href="/admin/">Cobranza</a></li>
      <li><a class="dropdown-item" href="#">Aperturas de Cajas</a></li>
    </ul>
  </li>