<!DOCTYPE html>
<html lang="en">
<head>
   <%- include("./partials/head") %>
    <title>Dashboard</title>
</head>
<body>
    <%- include("./partials/sidebar") %>
    <main class="container-fluid">
        <div id="mainContent">
            <!-- Contenido por defecto del área principal -->
            <h2>Bienvenido al Admin Dashboard</h2>
            <p>Selecciona una opción en el dashboard para comenzar.</p>
        </div>
    </main>
</body>
</html>
