<!DOCTYPE html>
<html lang="en">
<head>
   <%- include("../partials/head") %>
    <title>Dashboard</title>
</head>
<body>
    <%- include("../partials/sidebar") %>
    <main class="container-fluid">
        <div id="mainContent">
            <!-- Contenido por defecto del área principal -->
            <h2>Bienvenido al Admin Dashboard</h2>
            <p>Selecciona una opción en el dashboard para comenzar.</p>
            <section>
                <div class="row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Tiendas Fisicas</h5>
                        <p class="card-text" id="store"></p>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Tienda online</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script>
    </script>
</body>

</html>
